/Ornament.xcodeproj/project.xcworkspace/xcuserdata/Jordan.xcuserdatad/WorkspaceSettings.xcsettings
/Ornament.xcodeproj/xcuserdata/Jordan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Ornament.xcodeproj/xcuserdata/jordanekay.xcuserdatad/xcschemes/xcschememanagement.plist
/Ornament.xcodeproj/xcuserdata/jordanekay.xcuserdatad/xcschemes/OrnamentTests.xcscheme
/Ornament.xcodeproj/xcuserdata/jordanekay.xcuserdatad/xcschemes/Ornament.xcscheme
/Ornament.xcodeproj/project.xcworkspace/xcuserdata/jordanekay.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
/Ornament.xcodeproj/project.xcworkspace/xcshareddata/Ornament.xccheckout
/Ornament.xcodeproj/project.xcworkspace/xcuserdata/Jordan.xcuserdatad/UserInterfaceState.xcuserstate
/Ornament.xcodeproj/xcuserdata/jordanekay.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Ornament.xcworkspace/xcuserdata/jordanekay.xcuserdatad/UserInterfaceState.xcuserstate
